<div class="page-header page-header-bleed-right">
    <div class="actions pull-right">
        <a href="#"><span class="pficon pficon-refresh"></span> Refresh Results</a>
    </div>
    <h1>Applicatoin</h1>
</div>
<h3>Construire un arbre de décision à partir de cet ensemble de données</h3>




<button class="btn btn-default" ng-click="start()">Commancer</button>
<br>
<br>
<div id="mynetwork"></div>



<!--
<table class="table table-bordered">
    <thead>
    <tr>
        <th ng-repeat="c in attribues">{{ c.name }}
        </th>
    </tr>
    <tbody>
    <tr ng-repeat="d in data">
        <td ng-repeat="c in ordered_columns">{{ d[c.title] }}</td>
    </tr>
    </tbody>
</table>
</body>
-->
        <!--
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Column heading</th>
        <th>Column heading</th>
        <th>Column heading</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>1</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="success">
        <td>3</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="warning">
        <td>5</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    <tr class="danger">
        <td>7</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
    </tr>
    </tbody>
</table>
        -->